{
  "presets": ["next/babel"],
  "plugins": [
    "inline-svg",
    "polished",
    "date-fns",
    ["emotion", { "inline": true }],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "common": "./common",
          "components": "./components",
          "ui-components": "./ui-components",
          "lib": "./lib",
          "pages": "./pages",
          "media": "./media",
          "@fortawesome/pro-solid-svg-icons/faAngleDown": "./media/faIcons/faAngleDown",
          "@fortawesome/pro-regular-svg-icons/faBars": "./media/faIcons/faBars",
          "@fortawesome/pro-solid-svg-icons/faCalendarTimes": "./media/faIcons/faCalendarTimes",
          "@fortawesome/pro-solid-svg-icons/faChartLine": "./media/faIcons/faChartLine",
          "@fortawesome/pro-solid-svg-icons/faChartPie": "./media/faIcons/faChartPie",
          "@fortawesome/pro-solid-svg-icons/faCheckCircle": "./media/faIcons/faCheckCircle",
          "@fortawesome/pro-solid-svg-icons/faCity": "./media/faIcons/faCity",
          "@fortawesome/pro-solid-svg-icons/faCreditCard": "./media/faIcons/faCreditCard",
          "@fortawesome/pro-solid-svg-icons/faDatabase": "./media/faIcons/faDatabase",
          "@fortawesome/pro-solid-svg-icons/faDesktop": "./media/faIcons/faDesktop",
          "@fortawesome/pro-solid-svg-icons/faDollarSign": "./media/faIcons/faDollarSign",
          "@fortawesome/pro-solid-svg-icons/faEnvelope": "./media/faIcons/faEnvelope",
          "@fortawesome/pro-solid-svg-icons/faExclamationCircle": "./media/faIcons/faExclamationCircle",
          "@fortawesome/pro-solid-svg-icons/faFlask": "./media/faIcons/faFlask",
          "@fortawesome/pro-solid-svg-icons/faGlobeAmericas": "./media/faIcons/faGlobeAmericas",
          "@fortawesome/pro-solid-svg-icons/faGift": "./media/faIcons/faGift",
          "@fortawesome/pro-solid-svg-icons/faHome": "./media/faIcons/faHome",
          "@fortawesome/pro-solid-svg-icons/faImage": "./media/faIcons/faImage",
          "@fortawesome/pro-solid-svg-icons/faListUl": "./media/faIcons/faListUl",
          "@fortawesome/pro-regular-svg-icons/faLockAlt": "./media/faIcons/faLockAlt",
          "@fortawesome/pro-solid-svg-icons/faMap": "./media/faIcons/faMap",
          "@fortawesome/pro-solid-svg-icons/faMobile": "./media/faIcons/faMobile",
          "@fortawesome/pro-solid-svg-icons/faNewspaper": "./media/faIcons/faNewspaper",
          "@fortawesome/pro-solid-svg-icons/faPencil": "./media/faIcons/faPencil",
          "@fortawesome/pro-solid-svg-icons/faQuestionCircle": "./media/faIcons/faQuestionCircle",
          "@fortawesome/pro-solid-svg-icons/faSignInAlt": "./media/faIcons/faSignInAlt",
          "@fortawesome/pro-solid-svg-icons/faSignOutAlt": "./media/faIcons/faSignOutAlt",
          "@fortawesome/pro-solid-svg-icons/faSpinnerThird": "./media/faIcons/faSpinnerThird",
          "@fortawesome/pro-solid-svg-icons/faTablet": "./media/faIcons/faTablet",
          "@fortawesome/pro-solid-svg-icons/faTachometer": "./media/faIcons/faTachometer",
          "@fortawesome/pro-solid-svg-icons/faTasks": "./media/faIcons/faTasks",
          "@fortawesome/pro-solid-svg-icons/faUser": "./media/faIcons/faUser",
          "@fortawesome/pro-solid-svg-icons/faUsers": "./media/faIcons/faUsers",
          "@fortawesome/pro-solid-svg-icons/faHourglassEnd": "./media/faIcons/faHourglassEnd",
          "@fortawesome/pro-solid-svg-icons/faHourglassHalf": "./media/faIcons/faHourglassHalf",
          "@fortawesome/pro-regular-svg-icons/faTimes": "./media/faIcons/faTimes"
        }
      }
    ]
  ]
}
