{
  "presets": ["next/babel"],
  "plugins": [
    "inline-svg",
    "date-fns",
    ["emotion", { "inline": true }],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "common": "./common",
          "components": "./components",
          "ui-components": "./ui-components",
          "lib": "./lib",
          "pages": "./pages",
          "static": "./static"
        }
      }
    ]
  ]
}
