{
  "presets": ["next/babel"],
  "plugins": [
    "inline-svg",
    "polished",
    "date-fns",
    ["emotion", { "inline": true }],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "common": "./common",
          "components": "./components",
          "ui-components": "./ui-components",
          "lib": "./lib",
          "pages": "./pages",
          "static": "./static",
          "@fortawesome/pro-solid-svg-icons/faAngleDown": "./static/icons/faIcons/faAngleDown",
          "@fortawesome/pro-regular-svg-icons/faBars": "./static/icons/faIcons/faBars",
          "@fortawesome/pro-solid-svg-icons/faCalendarTimes": "./static/icons/faIcons/faCalendarTimes",
          "@fortawesome/pro-solid-svg-icons/faChartLine": "./static/icons/faIcons/faChartLine",
          "@fortawesome/pro-solid-svg-icons/faChartPie": "./static/icons/faIcons/faChartPie",
          "@fortawesome/pro-solid-svg-icons/faCheckCircle": "./static/icons/faIcons/faCheckCircle",
          "@fortawesome/pro-solid-svg-icons/faCity": "./static/icons/faIcons/faCity",
          "@fortawesome/pro-solid-svg-icons/faCreditCard": "./static/icons/faIcons/faCreditCard",
          "@fortawesome/pro-solid-svg-icons/faDatabase": "./static/icons/faIcons/faDatabase",
          "@fortawesome/pro-solid-svg-icons/faDesktop": "./static/icons/faIcons/faDesktop",
          "@fortawesome/pro-solid-svg-icons/faDollarSign": "./static/icons/faIcons/faDollarSign",
          "@fortawesome/pro-solid-svg-icons/faEnvelope": "./static/icons/faIcons/faEnvelope",
          "@fortawesome/pro-solid-svg-icons/faExclamationCircle": "./static/icons/faIcons/faExclamationCircle",
          "@fortawesome/pro-solid-svg-icons/faFlask": "./static/icons/faIcons/faFlask",
          "@fortawesome/pro-solid-svg-icons/faGlobeAmericas": "./static/icons/faIcons/faGlobeAmericas",
          "@fortawesome/pro-solid-svg-icons/faGift": "./static/icons/faIcons/faGift",
          "@fortawesome/pro-solid-svg-icons/faHome": "./static/icons/faIcons/faHome",
          "@fortawesome/pro-solid-svg-icons/faImage": "./static/icons/faIcons/faImage",
          "@fortawesome/pro-solid-svg-icons/faListUl": "./static/icons/faIcons/faListUl",
          "@fortawesome/pro-regular-svg-icons/faLockAlt": "./static/icons/faIcons/faLockAlt",
          "@fortawesome/pro-solid-svg-icons/faMap": "./static/icons/faIcons/faMap",
          "@fortawesome/pro-solid-svg-icons/faMobile": "./static/icons/faIcons/faMobile",
          "@fortawesome/pro-solid-svg-icons/faNewspaper": "./static/icons/faIcons/faNewspaper",
          "@fortawesome/pro-solid-svg-icons/faPencil": "./static/icons/faIcons/faPencil",
          "@fortawesome/pro-solid-svg-icons/faQuestionCircle": "./static/icons/faIcons/faQuestionCircle",
          "@fortawesome/pro-solid-svg-icons/faSignInAlt": "./static/icons/faIcons/faSignInAlt",
          "@fortawesome/pro-solid-svg-icons/faSignOutAlt": "./static/icons/faIcons/faSignOutAlt",
          "@fortawesome/pro-solid-svg-icons/faSpinnerThird": "./static/icons/faIcons/faSpinnerThird",
          "@fortawesome/pro-solid-svg-icons/faTablet": "./static/icons/faIcons/faTablet",
          "@fortawesome/pro-solid-svg-icons/faTachometer": "./static/icons/faIcons/faTachometer",
          "@fortawesome/pro-solid-svg-icons/faTasks": "./static/icons/faIcons/faTasks",
          "@fortawesome/pro-solid-svg-icons/faUser": "./static/icons/faIcons/faUser",
          "@fortawesome/pro-solid-svg-icons/faUsers": "./static/icons/faIcons/faUsers",
          "@fortawesome/pro-solid-svg-icons/faHourglassEnd": "./static/icons/faIcons/faHourglassEnd",
          "@fortawesome/pro-solid-svg-icons/faHourglassHalf": "./static/icons/faIcons/faHourglassHalf",
          "@fortawesome/pro-regular-svg-icons/faTimes": "./static/icons/faIcons/faTimes"
        }
      }
    ]
  ]
}
